src/conf/xml-resources/web-services/DeltaBranchCash/wsdl/BranchCashWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions name="BranchCashWebService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:tns="http://tempuri.org/" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp1="http://www.w3.org/ns/ws-policy" xmlns:fi="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service" xmlns:tcp="http://java.sun.com/xml/ns/wsit/2006/09/policy/soaptcp/service" xmlns:jaxws="http://java.sun.com/xml/ns/jaxws">
	<wsdl:types>
		<xsd:schema targetNamespace="http://tempuri.org/Imports">
			<xsd:import schemaLocation="xsd0.xsd" namespace="http://tempuri.org/"/>
			<xsd:import schemaLocation="xsd1.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/"/>
			<xsd:import schemaLocation="xsd2.xsd" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="IBranchCashWebService_Register_InputMessage">
		<wsdl:part name="parameters" element="tns:Register"/>
	</wsdl:message>
	<wsdl:message name="IBranchCashWebService_Register_OutputMessage">
		<wsdl:part name="parameters" element="tns:RegisterResponse"/>
	</wsdl:message>
	<wsdl:message name="IBranchCashWebService_Status_InputMessage">
		<wsdl:part name="parameters" element="tns:Status"/>
	</wsdl:message>
	<wsdl:message name="IBranchCashWebService_Status_OutputMessage">
		<wsdl:part name="parameters" element="tns:StatusResponse"/>
	</wsdl:message>
	<wsdl:message name="IBranchCashWebService_Repeat_InputMessage">
		<wsdl:part name="parameters" element="tns:Repeat"/>
	</wsdl:message>
	<wsdl:message name="IBranchCashWebService_Repeat_OutputMessage">
		<wsdl:part name="parameters" element="tns:RepeatResponse"/>
	</wsdl:message>
	<wsdl:portType name="IBranchCashWebService">
		<wsdl:operation name="Register">
			<wsdl:input wsaw:Action="http://tempuri.org/IBranchCashWebService/Register" message="tns:IBranchCashWebService_Register_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IBranchCashWebService/RegisterResponse" message="tns:IBranchCashWebService_Register_OutputMessage"/>
		 <jaxws:bindings>
		  <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
		 </jaxws:bindings>
		</wsdl:operation>
		<wsdl:operation name="Status">
			<wsdl:input wsaw:Action="http://tempuri.org/IBranchCashWebService/Status" message="tns:IBranchCashWebService_Status_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IBranchCashWebService/StatusResponse" message="tns:IBranchCashWebService_Status_OutputMessage"/>
		 <jaxws:bindings>
		  <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
		 </jaxws:bindings>
		</wsdl:operation>
		<wsdl:operation name="Repeat">
			<wsdl:input wsaw:Action="http://tempuri.org/IBranchCashWebService/Repeat" message="tns:IBranchCashWebService_Repeat_InputMessage"/>
			<wsdl:output wsaw:Action="http://tempuri.org/IBranchCashWebService/RepeatResponse" message="tns:IBranchCashWebService_Repeat_OutputMessage"/>
		 <jaxws:bindings>
		  <jaxws:enableWrapperStyle>false</jaxws:enableWrapperStyle>
		 </jaxws:bindings>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="BasicHttpBinding_IBranchCashWebService" type="tns:IBranchCashWebService">
	 <wsp1:PolicyReference URI="#BasicHttpBinding_IBranchCashWebServicePolicy"/>
	 <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="Register">
			<soap:operation soapAction="http://tempuri.org/IBranchCashWebService/Register" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Status">
			<soap:operation soapAction="http://tempuri.org/IBranchCashWebService/Status" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="Repeat">
			<soap:operation soapAction="http://tempuri.org/IBranchCashWebService/Repeat" style="document"/>
			<wsdl:input>
				<soap:body use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="BranchCashWebService">
		<wsdl:port name="BasicHttpBinding_IBranchCashWebService" binding="tns:BasicHttpBinding_IBranchCashWebService">
			<soap:address location="http://win-2008r2-test/DBCWebService/Service.svc"/>
		</wsdl:port>
	</wsdl:service>
 <wsp1:Policy wsu:Id="BasicHttpBinding_IBranchCashWebServicePolicy">
  <wsp1:ExactlyOne>
   <wsp1:All/>
  </wsp1:ExactlyOne>
 </wsp1:Policy>
</wsdl:definitions>